[submodule "rabit"]
	path = host/rabit
	url = https://github.com/mc2-project/rabit.git
[submodule "dmlc-core"]
	path = host/dmlc-core
	url = https://github.com/mc2-project/dmlc-core.git
[submodule "host/rabit"]
	path = host/rabit
	url = https://github.com/mc2-project/rabit.git
	branch = refactor
[submodule "host/dmlc-core"]
	path = host/dmlc-core
	url = https://github.com/mc2-project/dmlc-core.git
	branch = refactor
