sphinx>=3.0.1
mock
guzzle_sphinx_theme
breathe>=4.12.0
sh>=1.12.14
matplotlib>=2.1
graphviz
numpy
numpydoc
numproto
sklearn
grpcio
grpcio-tools
requests
furo
recommonmark
sphinx-argparse
sphinx-copybutton
sphinxcontrib-spelling
